/* @font-face phải luôn được gắn trên cùng */
@font-face {
  font-family: "Anton";
  src: url("fonts/Anton-Regular.woff2") format("woff2"),
    url("fonts/Anton-Regular.woff") format("woff");
}

.my-text {
  font-family: "Anton";
}
